/*black head section*/
#allhead{
    padding-bottom: 12px;
}
.headlink{
    background-color: rgb(58, 67, 77);
    margin: 0px -40px;
    display: block;
    padding: 7px;
    text-decoration: none;

}
#allhead .container h1{
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
}
#linktext{
    padding-top: 0;
    text-align: center;
    float: none;
    list-style: none;
}
#linktext li{
    display: block;
}
#linktext li a{
    padding: 10px;
    display: block;
    text-decoration: none;
    color: white;
    margin: 0px -40px;
}

#linktext li a:hover{
    background-color: rgb(63, 62, 62);
    color: burlywood;
}

.mblmargin{
    margin-bottom: 60px;
}
/*welcome page*/
#welcomepage .container{
    padding-top: 50px;
    color: white;
    display: block;
    text-align: center;
}
.btn{
    display: inline-block;
    padding: 10px;
    margin-bottom: 50px;
    color: white;
    text-decoration: none;
    background-color: rgb(50, 52, 54);
}


/*first middle*/
#firstmiddle{
    height: 400px;
}
#homeimg{
    background-image: url(./img/photo-1.jpg);
    float: left;
    width: 50%;
    min-height: 100%;
    display: none;
    
}

#textmiddle{
    text-align: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(50, 52, 54);
    color: white;
}
#textmiddle h1{
    padding: 80px 10px 0px 10px;
}
#textmiddle p, a{
    padding: 30px;
}
.btn1{
    background-color: white;
    color: black;
}
/*features*/
#features{
    overflow: hidden;
    height: 100%;
}
.box{
    width: 100%;
    text-align: center;
    padding: 2rem;
    height: 300px;
}
.box2{
    background-color: burlywood;
}
.box i{
    padding: 1rem;
}
.box p{
    padding: 2rem 1rem 1rem 1rem;
}

/* About Page */
#aboutHotel{
    height: 100%;
    background-color: whitesmoke;
    overflow: hidden;
}
.aboutText{
    display:block;
    width: 100%;
}
#aboutHotel .container img{
    float: none;
    display: block;
    width:300px;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 30px;
}
.aboutText h1{
    font-size: 2rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}
.aboutText p{
    text-align: center;
    padding:10px;
}

/*comments*/
#comments{
    background-image: url(./img/test-bg.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#comments .container h1{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;

}

.firstperson{
    margin: 15px;
    height: 100%;
    background-color: wheat;
    border-radius: 20px;
    opacity: 0.8;
}
.firstperson img{
    width: 100px;
    border-radius: 50%;
    float: none;
    display: block;
    margin: auto;
}
.firstperson p{
    text-align: center;
    padding: 10px;
    
}

.secondperson{
    margin: 15px;
    height: 100%;
    background-color: wheat;
    border-radius: 20px;
    opacity: 0.8;
    margin-bottom: 50px;
}
.secondperson img{
    width: 100px;
    border-radius: 50%;
    float: none;
    display: block;
    margin: auto;
}
.secondperson p{
    text-align: center;
    padding: 10px;   
}
/*features*/
#contactfeatures{
    margin-top: 5px;
    overflow: hidden;
    height: 100%;
    background-color: rgb(70, 66, 66);
}
.cbox{
    float: none;
    width: 100%;
    text-align: center;
}

.cbox i{
    padding: 1rem;
    color: white;
}
.cbox p{
    color: white;

    padding: 2rem 1rem 1rem 1rem;
}
.cbox h1{
    color: white;
}